@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css");

body, html {
    height: 100%;
    margin: 0;
  }
  
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #skillsChart {
    width: 100%;
    height: 100vh; 
    max-height: 800px; 
    display: block;
}

  
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    background-color: var(--card-background-color);
  }

 

  #error-message {
    display: none;
  }

  #profileHeader .container {
    display: flex;  
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}


